.useful {
  margin-bottom: 30px;
  padding-bottom: 20px;

  border-bottom: 1px solid #d4d4d4;
}

.useful-top {
  width: 100%;
  min-height: 235px;
  margin-bottom: 30px;

  background-image: url(../img/useful-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.useful-box {
  display: flex;
  justify-content: space-between;
}

.useful-box__item {
  width: 100%;
  max-width: 870px;
}

.useful-box__image {
  width: 100%;
  min-height: 323px;
  margin-bottom: 50px;

  background-image: url(../img/useful-bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.useful-box-text {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  color: #4f4f4f;

  &--mode {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 80px;
    }
  }
}

.useful-aside {
  padding-top: 20px;

  .card {
    margin-top: 30px;
  }
}

.useful-aside__title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  font-family: Rubik;
  color: #072952;
}

.block-share__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Rubik;
  color: #000000;
}

.block-share {
  display: flex;
  align-items: center;
}

.block-share__link {
  margin-left: 20px;
}
