
.brand-slide__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100px;
  padding: 0 15px;

  border-radius: 10px;
}

.brand-slider {
  width: 100%;
  padding: 23px 0 30px;

  .novelty-slider__button {
    transform: translateY(50%);
  }
}

.brand-slide {
  padding: 5px 2px 15px;
}

.brand-slide__wrapp {
  &:hover {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
}

.brands-sec {
  padding-bottom: 100px;
}

.brands-wrapp {
  margin-bottom: 30px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.brands-item__title {
  margin-bottom: 12px;
  padding: 0 24px;

  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  font-family: Rubik;
  color: #09101d;
}

.brands-item__text {
  padding: 0 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: Rubik;
  color: #000000;
}

.brands-item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 185px;
  padding: 0 24px;

  background-color: #ffffff;
  border-radius: 10px 10px 0 0;

  .brands-item__img {
    width: 100%;
    height: auto;
  }
}

.brands-item__bottom {
  // padding: 0 24px 24px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.brands-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 270px;
  // padding: 24px;
  padding-top: 0;

  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    .brands-item__hover {
      display: block;

      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.brands-item__hover {
  position: relative;
  z-index: 10;

  display: none;
  width: 100%;
  padding: 0 24px 24px 24px;

  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.brands-item__btn {
  width: 100%;
  height: 40px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-family: Rubik;
  color: #00479b;

  background: #ffffff;
  border: 2px solid #00479b;
  border-radius: 10px;
}

.brand--mode {
  .novelty-slider__button:hover {
    background-color: transparent;
  }
}
