
.brand-slide__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 100px;
  padding: 0 15px;

  border-radius: 10px;
}

.brand-slider {
  width: 100%;
  padding: 23px 0 30px;

  .novelty-slider__button {
    transform: translateY(50%);
  }
}

.brand-slide {
  padding: 5px 2px 15px;
}

.brand-slide__wrapp {
  &:hover {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
}
