.block-counter {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px;
}

.counter-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 7px;
  span {
     color: #00479B;
  }
}

.price-value--hot {
  margin-bottom: 31px;
}

.сount-value {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #072952;
  text-align: center;
}


// border

.counter-style  {
  position: relative;
  z-index: 0;
  border-radius: 12px;
  overflow: hidden;

}
.counter-style::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#c4c4c4, #c4c4c4), linear-gradient(#00479B, #00479B), linear-gradient(#00479B, #00479B), linear-gradient(#00479B, #00479B),linear-gradient(#00479B, #00479B);
  animation: anim-ramka-5 30s linear infinite;
}
.counter-style::after {
  content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 10px;
}
@keyframes anim-ramka-5 {
  100% {
      transform: rotate(1turn);
  }
}
