
.filter-list__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 12px 16px;
  border-top: 1px solid #D4D4D4;
}

.filter-list__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(7, 41, 82, 0.8);
}

.filter-list__button {
  svg {
    fill: rgba(7, 41, 82, 0.8);
  }
}

.filter-list__button.accordion--active {

  svg {
    transition: all .4s;
    transform: scaleY(-1);
  }
}

.filter-list__body {
  padding: 20px 0;

}

.filter-list__item:first-child {
  .filter-list__button {
    border: none;
  }
}

.filter-list__brand {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-filter {
  display: none;
}

.filter-list__image {
  margin-bottom: 20px;
}

.mobile-filter__top {
  width: 156px;
  height: 44px;
  display: flex;
  justify-content: center;
  border: 2px solid #D4D4D4;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
  .mobile-filter__icon {
    margin-right: 15px;
  }
}

.mobile-filter__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  svg {
    margin-left: 16px;
  }
}

.price-value__new--mobile {
  display: none;
}

.promo-item__catalog.promo-item__catalog--mobile {
  display: none;
}
