.footer-top {
  background: linear-gradient(90deg, #1E3C72 0%, #2A5298 97.81%);
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &--center {
    align-items: center;
  }
}

.footer-item {
  padding-top: 10px;
  max-width: 180px;
  width: max-content;
  &--logo {
    padding-top: 0;
  }
}

.footer-logo {
  margin-bottom:20px;
}

.footer-descr {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  svg {
    fill: currentColor;
  }
}

.footer-item__title {
  letter-spacing: 0.3px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 63px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
}

.footer-list__name {
  font-family: Rubik;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  svg {
    margin-right: 12px;
  }
  &--mail {
    font-weight: bold;
  }
  &--height {
    line-height: 20px;
  }
}

.footer-social {
  color: #fff;
  display: inline-block;
  svg {
    fill: #fff;
  }
}

.footer-social + .footer-social {
  margin-left: 20px;
}


.footer-bottom {
  background-color: #fff;
  padding: 10px 0;

}

.footer-box__link + .footer-box__link {
  margin-left: 5px;
}

