.header-top {
  background-color: #ffffff;
}

.header-bottom {
  background: linear-gradient(90deg, #1e3c72 0%, #2a5298 97.81%);
}

.header-top__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 11px 0 10px;
}

.header-center {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.header-center__top {
  margin-bottom: 10px;
}

.header-center__input {
  position: relative;

  height: 38px;
  padding: 8px 16px;

  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 8px;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: Rubik;
    color: rgba(149, 149, 149, 0.3);
  }
}

.header-center__form {
  position: relative;
}

.header-center__btn {
  position: absolute;
  top: 54%;
  right: 16px;

  transform: translateY(-50%);
  opacity: 0.2;
}

.header-center__list {
  display: flex;
}

.header-center__item + .header-center__item {
  margin-left: 21px;
}

.header-center__item {
  position: relative;

  padding: 0 0 5px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Rubik;
  color: #00479b;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;

    width: 0;
    height: 2px;

    background-color: #00479b;

    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;

    width: 1px;
    height: 100%;

    background-color: #d4d4d4;
  }

  &--active {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 2px;

      background-color: #00479b;

      transition: all 0.3s;
    }
  }

  &:last-child {
    display: flex;
    align-items: center;

    &::after {
      display: none;
    }

    svg {
      margin-left: 5px;

      fill: currentColor;
    }
  }
}

.header-center__item:hover {
  &::before {
    right: auto;
    left: 0;

    width: 100%;
  }
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-number {
  display: flex;
  align-items: center;

  span {
    display: block;
    margin: 0 3px;

    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    font-family: Rubik;
    color: #00479b;
  }
}

.header-number__icon {
  fill: #072952;
}

.header-tell {
  text-align: right;
}

.header-tell__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: Rubik;
  color: #072952;
}

.header-lang {
  position: relative;

  width: 50px;
  margin-left: 20px;
}

.header-bottom__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.heder-nav {
  margin-left: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-bottom__left {
  display: flex;
}

// widjet

.header-widjet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 403.5px;
  height: 60px;
  padding: 10px 20px;

  background-color: #ffffff;
  border-radius: 10px;
}

.widjet-body {
  display: flex;
  align-items: center;
}

.widjet-body__link {
  position: relative;

  display: flex;
  align-items: center;

  svg {
    fill: #072952;
  }

  &:nth-of-type(2) {
    svg {
      fill: transparent;
      stroke: #072952;
    }
  }
}

.widjet-body__link + .widjet-body__link {
  margin-left: 35px;
}

.widjet-body__value {
  position: absolute;
  top: -40%;
  right: -40%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: Rubik;
  color: #ffffff;

  background: linear-gradient(90deg, #e52d27 0%, #b31217 100%);
  border-radius: 50%;

  &--mode {
    background: #00479b;
  }
}

.widjet-info {
  margin-left: 15px;
}

.widjet-info__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  color: #959595;
}

.widjet-info__summa {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  color: #072952;
}

.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 37px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Rubik;
  color: #00479b;

  border: 2px solid #00479b;
  border-radius: 50px;
}

.catalog-icon {
  margin-right: 20px;

  span {
    display: block;
    width: 25px;
    height: 2px;

    background-color: #ffffff;
  }

  span + span {
    margin-top: 4px;
  }
}

.catalog-btn {
  display: flex;
  align-items: center;
  padding: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-family: Rubik;
  color: #ffffff;
}

.nav-list__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Rubik;
  color: #ffffff;

  svg {
    margin-left: 5px;

    fill: currentColor;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;

    width: 0;
    height: 2px;

    background-color: #ffffff;

    transition: all 0.3s;
  }

  &--active {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 2px;

      background-color: #ffffff;

      transition: all 0.3s;
    }
  }
}

.nav-list__item:hover {
  &::before {
    right: auto;
    left: 0;

    width: 100%;
  }
}

.nav-list__item + .nav-list__item {
  margin-left: 20px;
}
