.order {
  max-width: 870px;
  width: 100%;
}

.order-top {
  padding: 0 64px 0 20px;
  height: 64px;
  background: #00479B;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-top__item {
  display: flex;
  align-items: center;
  svg {
    margin-right: 20px;
  }
}

.order-top__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.order-top__span {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.order-body__top {
  background: rgba(212, 212, 212, 0.1);
  padding: 22px 12px;
  border-bottom: 1px solid #D4D4D4;
}

.order-body__item {
  display: flex;
  align-items: center;
  svg {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    fill: #D4D4D4;
  }
}

.order-body__top.accordion__active {
  svg {
    transform: scaleY(-1);
  }
}

.order-body__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.order-body__value {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #072952;
}

.order-body__span {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #072952;
}

.order-bottom__tit {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px 24px 64px;
  border-bottom: 1px solid #D4D4D4;
}

.order-bottom__title {
  width: 170px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #072952;
  &:last-of-type {
    text-align: right;
  }
  &:nth-of-type(3) {
    text-align: center;
  }
}

.order-bottom__item {
  width: 170px;
  display: flex;
  align-items: center;
  &:first-child {
    width: 220px;
  }
  &:last-of-type {
    justify-content: flex-end;
  }
  &:nth-of-type(3) {
    justify-content: center;
  }
}

.order-bottom__img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 12px;
}

.order-bottom__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #D4D4D4;
}

.order-bottom__article {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #072952;
}

.order-info__btn {
  width: 262.67px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00479B;
  border: 2px solid #00479B;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 20px;
  svg {
    fill: currentColor;
    margin-right: 20px;
  }
}

.order-info__text {
  max-width: 267.67px;
  width: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #959595;
}

.order-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
