.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-item{
  max-width: 570px;
  min-height: 376px;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  &:hover {
    .promo-item__hover {
      opacity: 1;
      z-index: 20;
    }
  }
}

.promo-item__top {
  background-image: url(../img/baner/baner-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 240px;
}

.promo-item__bottom, .promo-item__hover {
  padding: 20px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.promo-item__btn {
  width: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #F85752 0%, #B31217 107.14%);
  border-radius: 4px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.promo-item__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #072952;
  margin-bottom: 20px;
}

.promo-item__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #4F4F4F;
}

.promo-item__catalog {
  background: #FFFFFF;
  border: 2px solid #00479B;
  border-radius: 10px;
  width: 169px;
  height: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #00479B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.promo-item__hover {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .4s;
}

