.baner-big {
  padding: 8px 52px 50px 0;

  background-image: url(../img/baner/baner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.baner-big__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 100px;
  margin-bottom: 25px;
  margin-left: 8px;

  background-color: #ffffff;
  border-radius: 20px 0;
}

.baner-big__text {
  display: inline-block;
  margin-left: 62px;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  color: #ffffff;

  span {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }
}

.baner-big__title {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  font-family: Rubik;
  color: #ffffff;
}

.baner-big__descr {
  position: relative;

  margin-bottom: 66px;
  padding-left: 62px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;

    width: 54px;
    height: 1px;

    background-color: #ffffff;
  }
}

.baner-link {
  display: block;
  width: fit-content;
  margin-left: auto;

  svg {
    fill: #ffffff;
  }
}

.baner-box {
  display: flex;
  justify-content: space-between;
}

.baner-box__coll:first-child {
  width: 100%;
  max-width: 768px;
}

.baner-box__coll:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 368px;
}

.baner-mini {
  min-height: 190px;
  padding: 38px 33px 0 0;

  background-image: url(../img/baner/baner-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  &--mode {
    padding: 49px 32px 0 18px;

    text-align: left;

    background-image: url(../img/baner/baner-bg3.png);

    .baner-mini__title {
      margin-bottom: 40px;

      font-style: normal;
      font-weight: 900;
      font-size: 19.2762px;
      line-height: 96%;
      font-family: Rubik;
      color: #ffffff;

      span {
        text-transform: uppercase;
      }
    }
  }
}

.baner-mini__wrapper {
  width: fit-content;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: auto;

  text-align: center;

  .baner-mini__title {
    font-style: normal;
    font-weight: 900;
    font-size: 36.8px;
    line-height: 96%;
    font-family: Rubik;
    color: #ffffff;
  }

  .baner-mini__text {
    font-style: normal;
    font-weight: normal;
    font-size: 19.2762px;
    line-height: 96%;
    font-family: Rubik;
    color: #ffffff;

    span {
      font-weight: 900;
      font-size: 21.0286px;
      line-height: 96%;
    }
  }
}
