.select__header {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.select.is-active .select__body {
  // max-height: 500px;
  height: auto;
}

.select {
  .select__body {
    display: none;
  }
}

.header-lang .select.is-active {
  .select__icon__arrow {
    transform: scaleY(-1);
  }

  .select__body {
    position: absolute;
    z-index: 10;

    display: block;
    margin-top: 5px;
    padding: 2px 5px;

    background-color: #ffffff;
    border: 1px solid #c7d1dd;
    border-radius: 10px;
    cursor: pointer;
  }
}

.header-lang .select__current,
.select__item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  font-family: Rubik;
  color: #959595;
}
