.select__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.select.is-active .select__body {
  // max-height: 500px;
  height: auto;
}

.select {
  .select__body {
    display: none;
  }
}

.header-lang .select.is-active {
  .select__icon__arrow {
    transform: scaleY(-1);
  }
  .select__body {
    display: block;
    position: absolute;
    padding: 2px 5px;
    background-color: #FFFFFF;
    border: 1px solid #C7D1DD;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
  }
}

.header-lang .select__current, .select__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #959595;
}
